/* Discover */

#discover {
  min-height: 950px;
}

.section-subtitle { 
  font-size: 30px;
  letter-spacing: 6px;
  line-height: 100%;
  font-weight: $font-semi-bold;
  font-family: $font-app;
  text-align: center;
  margin-top: 112px;
  margin-bottom: 100px;
}