*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $font-app;
  color: $color-light;
  background-color: $color-dark;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  max-width: 584px;
  margin-bottom: 118px;
  margin: 0 auto;
}