/* Header */

.header-wrapper {
  text-transform: uppercase;
  font-weight: $font-black;
  position: relative;
  margin: 0 auto;
  
  img {
    width: 100%;
    height: 90vh;
  }

  .shadow-box {
    background: linear-gradient(to bottom, rgba(31, 19, 19, 0) 5%, rgba(20, 20, 20, 0)100%);
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
  }

  .header__title {
    font-size: 200px;
    letter-spacing: 120px;
    filter: drop-shadow(0 0 71px rgba(0, 0, 0, 0.39));
    position: absolute;
    top: 32%;
    left: 53%;
    transform: translate(-52%, -50%);
    display: flex;
    max-width: 1145px;
  }

  .header__subtitle {
    font-size: 36px;
    letter-spacing: 11px;
    line-height: 36px;
    width: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 64%;
    left: 49%;
    transform: translate(-50%, -50%);
    margin: 0;

    span {
      justify-content: center;
    }
  }
}

/* Navigation */

.main-nav {
  margin-top: 32px;
  margin-bottom: 113px;
  text-transform: uppercase;
  font-weight: $font-semi-bold;
  color: $color-grey;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__link {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 27px;
    padding: 0 67px;
    color: $color-grey;

    &:hover {
      color: $color-light;
    }
  }
}

/* Media queries */

@media(max-width: 1536px) {
  .header .header-wrapper {
    .header__title {
      top: 32%;
      font-size: 135px;
      letter-spacing: 109px;
    }

    .header__subtitle {
      top: 62%;
      font-size: 26px;
      line-height: 26px;;
    }
  }
}

@media(max-width: 1440px) {
  .header .header-wrapper {
    .header__title {
      font-size: 133px;
      letter-spacing: 97px;
    }

    .header__subtitle {
      top: 61%;
      font-size: 23px;
      line-height: 23px;
    }
  }
}

@media(max-width: 1367px) {
  .header .header-wrapper {
    .header__title {
      top: 31%;
      font-size: 126px;
      letter-spacing: 91px;
    }

    .header__subtitle {
      top: 62%;
      font-size: 21px;
      letter-spacing: 6px;
      line-height: 21px;
    }
  }
}

@media(max-width: 1280px) {
  .header .header-wrapper {
    .header__title {
      top: 32%;
      font-size: 111px;
      letter-spacing: 90px;
      left: 53%;
    }

    .header__subtitle {
      top: 61%;
      font-size: 20px;
      letter-spacing: 6px;
      line-height: 20px;
    }
  }
}

@media(max-width: 768px) {
  .header .header-wrapper {
    img {
      height: 50vh;
    }

    .header__title {
      top: 35%;
      font-size: 57px;
      letter-spacing: 63px;
      left: 54%;
    }

    .header__subtitle {
      top: 61%;
      font-size: 15px;
      letter-spacing: 2px;
      line-height: 12px;
    }
  }

  .main-nav__link {
    padding: 0 15px;
  }
}

@media(max-width: 415px) {
  .header .header-wrapper {
    img {
      height: 40vh;
    }

    .header__title {
      font-size: 33px;
      letter-spacing: 33px;
      left: 54%;
    }

    .header__subtitle {
      top: 57%;
      font-size: 10px;
      letter-spacing: 1px;
      line-height: 8px;
    }
  }

  .main-nav {
    margin-top: 5px;

    .main-nav__link {
      padding: 0 15px;
      font-size: 15px;
    }
  }
}

@media(max-width: 376px) {
  .header .header-wrapper {
    img {
      height: 40vh;
    }

    .header__title {
      font-size: 27px;
      letter-spacing: 31px;
      left: 54%;
    }

    .header__subtitle {
      top: 57%;
      font-size: 8px;
      letter-spacing: 1px;
      line-height: 6px;
    }
  }

  .main-nav {
    margin-top: 5px;
    .main-nav__link {
      padding: 0 15px;
      font-size: 15px;
    }
  }
}

@media(max-width: 360px) {
  .header .header-wrapper {
    img {
      height: 40vh;
    }

    .header__title {
      font-size: 27px;
      letter-spacing: 29px;
      left: 54%;
    }
  }
}
