#search {
  min-height: 950px;

  .search-box {
    margin-top: 58px;
    margin-bottom: 95px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
  
    label {
      font-size: 30px;
      letter-spacing: 6px;
      line-height: 59px;
      color: #bfbfbf;
      font-weight: $font-semi-bold;
      font-family: $font-app;
      text-align: center;
    }

    .search-box__name {
      display: flex;
      flex-direction: row;

      input {
        width: 220px;
        height: 59px;
        margin: 0 8px;
        border-radius: 12px;
        font-size: 30px;
        padding-left: 20px;
        color: $color-dark;
      }
    }

    #search-box__categories .search-select {
      display: flex;
      flex-direction: row;

      select{
        width: 240px;
        height: 59px;
        border-radius: 12px;
        font-size: 30px;
        appearance: none;
        padding-left: 20px;
        margin: 0 8px;
      }
    }

    .btn {
      position: absolute;
      bottom: -130px;
      left: 50%;
      transform: translate(-52%, -50%);

      button {
        width: 115px;
        height: 59px;
        font-size: 20px;
        letter-spacing: 4px;
        line-height: 27px;
        color: $color-light;
        font-weight: $font-semi-bold;
        font-family: $font-app;
        text-align: center;
        background-color: $color-main;
        border-radius: 10px;
        transition: color .3s;
        border: none;
    
        &:hover {
          color: $color-grey;
        }
      }
    }
  }

  .num-found-songs {
    margin: 0 auto;
    text-align: center;
    display: none;
    padding-top: 10px;

    h3 {
      font-size: 30px;
      letter-spacing: 6px;
      line-height: 40px;
      font-weight: $font-semi-bold;
      font-family: $font-app;
      margin: 20px 10px;
      margin-bottom: 85px;
    }
  }

  .num-found-songs.active {
    display: block;
  }
}

/* Media queries */

@media(max-width: 870px){
  #search{
    .search-box {
      flex-direction: column;
      align-content: center;

      .search-box__name {
        margin-bottom: 25px;

        label {
          margin-right: 64px;
        }

        input {
          width: 300px;
        }
      }
    }

    #search-box__categories {
      .search-select {
        select {
          width: 320px;
        }
      }
    }
  }
}

@media(max-width: 600px){
  #search .search-box {
    .search-box__name{
      input {
        width: 240px;
      }

      #search-box__categories .search-select {
        select {
          width: 200px;
        }
      }
    }
  }
}

@media(max-width: 450px){
  #search .search-box{
    label {
      font-size: 20px;
      letter-spacing: 4px;
      line-height: 40px;
    }

    .search-box__name {
      input {
        width: 240px;
        margin-right: 0px;
        height: 40px;
        font-size: 20px;
        padding-left: 10px;
      }

      label {
        margin-right: 43px;
      }
    }

    #search-box__categories .search-select select {
      height: 40px;
      padding-left: 10px;
      font-size: 20px;
    }
  }
}


@media(max-width: 400px){
  #search .search-box{
    justify-content: center;

    .search-box__name {
      flex-direction: column;
      
      input {
        width: 238px;
        margin-right: 0px;
        margin-bottom: -15px;
      }

      label {
        margin-right: 0px;
      }
    }
  
    #search-box__categories .search-select {
      flex-direction: column;
    }
  }
}
