#search {
  min-height: 950px;

  .search-box {
    margin-top: 58px;
    margin-bottom: 95px;
    display: flex;
    justify-content: center;
  
    label {
      font-size: 30px;
      letter-spacing: 6px;
      line-height: 59px;
      color: #bfbfbf;
      font-weight: $font-semi-bold;
      font-family: $font-app;
      text-align: center;
    }
  
    button {
      width: 139px;
      height: 59px;
      font-size: 20px;
      letter-spacing: 4px;
      line-height: 27px;
      color: $color-light;
      font-weight: $font-semi-bold;
      font-family: $font-app;
      text-align: center;
      background-color: $color-main;
      border-radius: 10px;
      transition: color .3s;
  
      &:hover {
        color: $color-grey;
      }
    }
  
    input {
      width: 359px;
      height: 59px;
      margin: 0 32px;
      border-radius: 12px;
      font-size: 30px;
      padding-left: 20px;
      color: $color-dark;
    }
  }

  .num-found-songs {
    margin: 0 auto;
    text-align: center;

    h3 {
      font-size: 30px;
      letter-spacing: 6px;
      line-height: 27px;
      font-weight: $font-semi-bold;
      font-family: $font-app;
      display: none;
    }

    h3.active {
      display: block;
      margin-bottom: 95px;
    }
  }
}

