/* Variables */

$color-main: #CF383E;
$color-light: #FFF;
$color-grey: #BFBFBF;
$color-dark: #131313;

$font-app: 'Source Sans 3', sans-serif;

$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;